<li>
	{{burger}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}EAT ME!{{else}}Get another one.{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Not that good.</button>
</li>